*{
    margin: 0;
    padding: 0;
}
.container {
    /* margin: 0 auto; */
    display: grid;
    background-color: yellowgreen;
    /* height: 700px; */
    /* width: 900px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(1, 1fr) 80px;
    column-gap: 12px;
    row-gap: 12px;
}

.item {
    background-color: teal;
    /* height: 122px; */
    /* width: 122px; */
}

.item1 {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 /span4;
    background-color: thistle;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: tomato;
}